.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;

  text-align: center;
}

.buttonWrapper {
  margin-top: 1rem;
}

.buttonWrapper a {
  border: none;
  border-radius: 12px;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: aliceblue;
}

.headline {
  background-image: url('/images/headline-color.jpg');
  background-position: center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  font-size: 4rem;
}

.gallery {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery > div {
  width: 28%;
  height: 200px;
  position: relative;
}

.gallery > div:nth-child(odd) > img {
  transform: rotate(3deg) translate(1rem, 0.5rem);
}

.gallery > div:nth-child(odd) > img:nth-child(2) {
  z-index: 2;
  transform: rotate(-1deg);
}

.gallery > div:nth-child(even) > img:nth-child(2) {
  z-index: 2;
  transform: rotate(6deg);
}

@media screen and (max-width: 769px) {
  .gallery {
    justify-content: center;
    gap: 2.5rem;
  }

  .gallery > div {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .gallery > div {
    width: 80%;
  }
}