@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #F2F5FF;
  --secondary-color: #605DEC;
  --gray-color: #CBD4E6;
  --blue-color: #0075F2;
  --green-color: #01AE27;
  --darkGreen-color: #008F1F;
  --red-color: #D00000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
